
html, body {
  height: 100%;
  margin: 0;
}

.leaflet-container {
  height: 55vh;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.map-wrapper {
  position: relative;
}

.map-wrapper .map-container{
  position: relative;
}

.map-wrapper .map-filters{
  position: absolute;
  width: 100%;
  max-width: 320px;
  overflow-y: scroll;
  height: 55vh;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.712);
  z-index: 999;
}